div{
  background-color: #CDF0EA;
}

body{
  margin:0;
}

h1{
  margin-top: 0;
  display: inline-block;
}

p{
  display: inline-block;
}

img{

}
.top-container{

}

.middle-container{

}

.bottom-container{

}
