body{
  font-family: 'Montserrat, sans-serif';
  text-align: center;
}
h1, h2, h3, h4 , h5, h6 {
  fonta-family:"Montserrat-bold";
 }

 h3{
   font-size: 1.5rem;
 }

/* Heading Section */
.big-heading{
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: white;
}


/* Title Section */
#title{
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

.tittleImage{
  width: 20%;
  transform: rotate(25deg);
  padding-left: 5%;
  position: absolute;
  right: 30%;
}

/* Nav Bar */
.navbar-brand{
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding: 0 0 7%;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
.downloadButton{
  margin: 5% 3% 5%;
}

/* Features Section */
.iconFeatures{
  color: #ef8172;
  font-size: 4rem;
}

.iconFeatures:hover{
  color: #ff4c68;
}

.feature-box{
  padding: 5%;
}
.feature-box h3{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}

.feature-box p{
  color: #8f8f8f;
}

#features{
  position: relative;
}

.feature-title{
  line-height: 1.5rem;
}
/* Testimonials Section */
#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */

#press{
  padding-bottom: 3%;
  background-color: #ef8172;
}

#press img{
  width:15%;
  height: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section*/
#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.price-title, .price-text{
  font-weight: bold;
}

/* Call to action section */
#cta{
  color: white;
  padding-top: 7%;
}

/* Footer Section */
#footer{
  padding-top: 7%;
}

#footer p{
  padding-top: 2%;
  color: gray;
}

#footer i{
  margin: 20px 10px;
}
/* Responsiveness */
@media(max-width: 992px){
  .tittleImage{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }
}
